@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.image {
  height: 200px;
  width: 200px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  /* width: 350px;
  min-height: 600px;
  background-color: lightgray;
  margin: auto;
  padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  margin: auto;
}

.profile {
  display: flex;
  align-items: center;
}

.username {
  margin-left: 10px;
}
